.container {
  background-color: black;
}

.fixArtist {
  display: flex;
}

.nameArtistBox {
  margin: 220px 20px;
  background-color: rgba(0, 0, 0, 0.35);
  font-size: 26px;
  color: white;
  display: flex;
  justify-content: center;
}

.artists {
  /* border: 1px solid wheat; */
  margin-right: 20px;
  margin-top: 30px;
  color: white;
  background-color: black;
  width: 280px;
  height: 280px;
  text-align: center;
  transition: transform ease-in-out .5s;
}
.artists:hover {
  transform: scale(1.05);
  transition-duration: 300ms;
}
.image-liste-artiste {
  background-size: cover;
  background-repeat: no-repeat;
  width: 600px;
  height: 600px;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.artiste-title {
  color: white;
  font-size: 2.8em;
  text-decoration: none;
  background-image: url('https://cdn.pixabay.com/photo/2016/01/19/17/38/concert-1149805_960_720.jpg');
  cursor: default;
  background-repeat: no-repeat;
  background-position: center center;
  height: 50vh;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.artiste-title-cursor {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 6px 16px;
  border-radius: 10px;
  color: white;
  font-size: 2em;
  border: none;
}

.container-letter {
  background-color: white;
  padding: 20px;
  letter-spacing: 4px;
  text-align: center;
}

.letters {
  color: gray;
  text-decoration: none;
}
.boutton-letters {
  color: gray;
  font-size: 2.7em;
  border: none;
  background-color: white;
}
.letters:focus {
  font-weight: bold;
  color: black;
}

.boutton-letters:hover {
  font-weight: bold;
}

@media screen and (max-width: 1299px) {
  .container-letter {
    display: flex;
    overflow-x: scroll;
  }
}
@media screen and (max-width: 992px) {
  .container-enfant-artists {
    display: flex;
    flex-direction: column;
    justify-content: center;

    flex-wrap: wrap;
    font-size: 2em;
    margin: 40px auto;
    width: 70%;
    text-align: center;
    width: 282px;
  }

  .fixArtist {
    font-size: 12px;
  }
}

.container-liste-artists {
  margin-top: 0px;
  padding-top: 0px;
}

@media screen and (min-width: 992px) {
  .container-enfant-artists {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: center;

    flex-wrap: wrap;
    font-size: 2em;
    margin: 40px auto;
    width: 70%;
  }
}
